[*.cs]

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = silent

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = suggestion

# IDE0008: Use explicit type
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion

# IDE0011: Add braces
csharp_prefer_braces = false:suggestion

# IDE0022: Use expression body for methods
dotnet_diagnostic.IDE0022.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none
